flask==3.0.3
yfinance==0.2.48
pandas==2.2.3
gunicorn==23.0.0
requests==2.32.3

# Future interface ideas:
# day/time, greetings, messages, meeting recaps, cancellation notices, club heads/Jr. Officer page. scene based on daytime. jazz music? popular stock real time monitoring page (even if we're not invested)

# # Yahoo Finance API for real time monitoring of stock prices

# # Ability to buy/sell stocks and shares

# # Allow viewers to see key stats like portfolio value, percent invested in sectors, stocks, what we’ve lost/gained money on, what the vote results were

# # Updated based on club’s decisions during meetings

# # Future possibilities:

# # Stock of the day to buy/sell?

# # Monitor market and email club members daily updates